{% load static i18n %}

<!-- /home/siisi/portfolio/templates/footer.html -->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Location Column -->
            <div class="col-12 col-md-6 mb-5 mb-md-0">
                <h4 class="text-uppercase mb-4">{% trans 'Location' %}</h4>
                <p class="lead mb-0">
                    28021 San Cristóbal de los Ángeles<br />
                    Madrid, {% trans 'Spain' %}
                </p>
            </div>
            <!-- Social Icons Column -->
            <div class="col-12 col-md-6 mb-5 mb-md-0">
                <h4 class="text-uppercase mb-4">{% trans 'Around the Web' %}</h4>
                <div class="d-flex flex-wrap justify-content-center">
                    <a class="btn btn-outline-light btn-social m-1" href="https://instagram.com/dbtevolution"
                        target="_blank">
                        <i class="fab fa-fw fa-instagram"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social m-1" href="https://github.com/isaacaisha"
                        target="_blank">
                        <i class="fab fa-fw fa-github"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social m-1" href="https://facebook.com/isaacaisha"
                        target="_blank">
                        <i class="fab fa-fw fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social m-1" href="https://twitter.com/isaacaisha"
                        target="_blank">
                        <i class="fab fa-fw fa-twitter"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social m-1"
                        href="https://www.linkedin.com/in/isaac-aisha-859381267/" target="_blank">
                        <i class="fab fa-fw fa-linkedin-in"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social m-1" href="#">
                        <i class="fab fa-fw fa-dribbble"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
