{% load static i18n %}
<!-- /home/siisi/portfolio/templates/navbar.html -->

<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#page-top">·SìįSí·Dbt·</a>
        <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            {% trans 'Menu' %}
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-1 rounded" href="/">{% trans 'Portfolio' %}</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-1 rounded" href="#about">{% trans 'About' %}</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-1 rounded" href="#contact">{% trans 'Contact' %}</a>
                </li>
                {% if user.is_superuser %}
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-1 rounded" href="{% url 'admin_proxy' %}">{% trans 'Admin' %}</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-1 rounded" href="/project/add">
                        <i class="fa-solid fa-plus"></i> {% trans 'Project' %}
                    </a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-1 rounded" href="{% url 'notifications' %}">{% trans 'Notifications' %}</a>
                </li>
                {% endif %}
                <li class="nav-item mx-0 mx-lg-1">
                    <form class="language-form nav-link py-3 px-0 px-lg-1 rounded" method="post" action="{% url 'set_language' %}">
                        {% csrf_token %}
                        <select name="language" onchange="this.form.submit()">
                            {% for lang_code, lang_name in LANGUAGES %}
                            <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                                {{ lang_name }}
                            </option>
                            {% endfor %}
                        </select>
                        <i class="fa-solid fa-globe"></i>
                        <input type="hidden" name="next" value="{{ request.get_full_path }}" />
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>